{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .content{
        margin-top:100px;
        margin-bottom:100px;
    }
    .log-result{
        border:1px solid #eee;
    }
    .full-width{
        width:100%;
    }
    .log-result, .log-result-buttons{
        display:none;
    }
</style>
<div class="container content">
  <h2>Login</h2>
  <form  class="form-horizontal">
    <div class="form-group">
        <div class="col-md-8">
            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
    </div>    
    <div class="form-group">
        <div class="col-md-3">
            <button class="btn btn-default login-button full-width">Login</button>
        </div>
    </div>    
  </form>
</div>
<script>
$(document).ready(function(){
    <!-- button actions start -->
    $(document).on('click','.login-button',function(e){
        e.preventDefault();
        var username = $("#username").val();
        if(username === ''){
            alert("Please Enter Your Username");        
            return false;
        }

        var password = $("#password").val();
        if(password === ''){
            alert("Please Enter Your Password");        
            return false;
        }        

        $.post("/login",{ username : username, password : password},
            function(data, status){

                var obj = JSON.parse(JSON.stringify(data));

                if(obj.status && obj.status === 200){
                    window.location.href = '/log';
                }else{
                    alert(obj.message);
                    exit;
                }
            }
        );
        return false;
    });
    <!-- button actions end -->
});
</script>
{% endblock %}
